version: '3.8'

services:
  tablette:
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: always
